<div style="background-color: #fff">
  <super-navbar>
    <super-navbar-title>
      Today's Tip
    </super-navbar-title>
  </super-navbar>
  
  <h2>Did you know...</h2>
  <p>Couples who have difficulties conceiving can use their Medisave to pay for the cost of Assisted Conception Procedures (ACP).</p>
  <p>Assisted Reproduction Technology (ART) treatment is also available at public hospitals and is co-funded by the government.</p>
  <img src="http://hsl.com.sg/communique/images/06-1.png" width="300">
</div>