@charset "UTF-8";

@font-face {
  font-family: "savvy";
  src:url("fonts/savvy.eot");
  src:url("fonts/savvy.eot?#iefix") format("embedded-opentype"),
    url("fonts/savvy.woff") format("woff"),
    url("fonts/savvy.ttf") format("truetype"),
    url("fonts/savvy.svg#savvy") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "savvy" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "savvy" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-book:before {
  content: "\e000";
}
.icon-down-chevron:before {
  content: "\e001";
}
.icon-compass:before {
  content: "\e002";
}
.icon-plus:before {
  content: "\e003";
}
.icon-down-arrow:before {
  content: "\e004";
}
.icon-star:before {
  content: "\e005";
}
.icon-gender:before {
  content: "\e006";
}
.icon-income:before {
  content: "\e007";
}
.icon-house:before {
  content: "\e008";
}
.icon-location:before {
  content: "\e009";
}
.icon-lock:before {
  content: "\e00a";
}
.icon-mail:before {
  content: "\e00b";
}
.icon-marital:before {
  content: "\e00c";
}
.icon-phone:before {
  content: "\e00d";
}
.icon-present:before {
  content: "\e00e";
}
.icon-shopping-bag:before {
  content: "\e00f";
}
.icon-shopping-cart:before {
  content: "\e010";
}
.icon-profile:before {
  content: "\e011";
}
