<div ng-controller="EditController">

  <super-navbar>
    <super-navbar-title>
      Edit Profile
    </super-navbar-title>
    <super-navbar-button side="right">Edit</super-navbar-button>
  </super-navbar>

  <div class="list">
    <label class="item item-input list-inset">
      <!-- <span>Last Name</span> -->
      <input type="text" ng-model="user.lastName" placeholder="Last Name">
    </label>
    <label class="item item-input list-inset">
      <!-- <span>First Name</span> -->
      <input type="text" ng-model="user.firstName" placeholder="First Name">
    </label>
    <label class="item item-input list-inset">
      <!-- <span>Monthly Income</span> -->
      <input type="text" placeholder="Monthly Income">
    </label>
  </div>

</div>