<div ng-controller="ShowController">

  <super-navbar>
    <super-navbar-title>
      My Profile
    </super-navbar-title>
    <super-navbar-button side="right">Edit</super-navbar-button>
  </super-navbar>

  <div class="list">
    <label class="item item-input">
      <input type="text" placeholder="Last Name">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="First Name">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="Monthly Income">
    </label>
  </div>

</div>