<div ng-controller="NewController">

  <super-navbar>
    <super-navbar-button side="left" location="expenses#index">History</super-navbar-button>
    <super-navbar-title>
      New Expense
    </super-navbar-title>
    <super-navbar-button side="right" location="expenses#show">Current</super-navbar-button>
  </super-navbar>

  <div class="list">
    <div class="item item-divider">
      <i class="icon ion-calendar"></i>Today</h2>
    </div>
    <label class="item item-input item-stacked-label">
      <span>I Spent...</span>
      <input type="text" placeholder="Enter Amount" ng-model="expense.amount">
    </label>
    <label class="item item-input item-select">
      <div class="input-label">
        On...
      </div>
      <select>
        <option ng-model="expense.categories" ng-repeat="category in categories">
          {{category}}
        </option>
      </select>
    </label>
    <div class="item">
      <button class="button button-block button-default" ng-click="createExpense(expense)">Save</button>
    </div>
  </div>

</div>