<div ng-controller="NewController">

  <super-navbar>
    <super-navbar-title>
      Expenses
    </super-navbar-title>
  </super-navbar>

  <div class="list">
    <h2 class="item item-white item-amount-heading item-no-border">Enter Amount</h2>
    </label>
    <label class="item item-input item-no-border">
      <input class="item-amount" type="text" placeholder="$0.00" ng-model="expense.amount">
    </label>
    <h2 class="item item-gray item-categorise-heading item-no-border">Categorise</h2>
  </div>
  
  <div class="button-bar">
    <a class="button button-default">Add</a>
    <a class="button button-default">Back</a>
  </div>

</div>