<div ng-controller="ShowController">
  <div class="item">
    <h2 style="text-align: center;">
      Congratulations! <br/>
      <small>Goal achieved</small>
    </h2>
  </div>
  
  <div class="item">
  </div>
  
  <div class="item">
    <div class="row">
      <div class="col">Amount Saved</div>
      <div class="col">$28 800</div>
    </div>
    
    <div class="row">
      <div class="col">
        <i class="icon icon-reward"></i>
        You've earned a Reward!
      </div>
      <div class="col">Redeem</div>
    </div>
  </div>
</div>