<div ng-controller="ShowController">
  <div class="item item-no-border">
    <h2 style="text-align: center;">
      Congratulations! <br/>
      <small>Goal achieved</small>
    </h2>
  </div>
  
  <div class="item item-no-border">
    <img src="http://hsl.com.sg/communique/images/3-3-1.png" width="300">
  </div>
  
  <div class="item item-no-border">
    <div class="row">
      <div class="col-75">Amount Saved</div>
      <div class="col-25">$28 800</div>
    </div>
    
    <div class="row">
      <div class="col-75">
        <i class="icon icon-reward"></i>
        You've earned a Reward!
      </div>
      <div class="col-25">Redeem</div>
    </div>
  </div>
</div>